<!DOCTYPE html> 
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Weather Widget App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/fontello.css">
    <link rel="stylesheet" href="css/animation.css">
    

    <!--[if IE 7]><link rel="stylesheet" href="css/fontello-ie7.css"><![endif]-->

    <!--<script>
      function toggleCodes(on) {
        var obj = document.getElementById('icons');
        
        if (on) {
          obj.className += ' codesOn';
        } else {
          obj.className = obj.className.replace(' codesOn', '');
        }
      }
      
    </script>-->
</head>

<body>


    <div ng-app="weatherApp">

        <div id="adder" ng-controller="MainCtrl">
            


    		<input list="cityList" type="" ng-model="SelectedCity" ng-change="updateQuery(SelectedCity)" placeholder="Seach for City in Argentina"/>
    		<datalist id="cityList">
    			<option value="{{ city_query.name  + ', '  + city_query.admin1.content }}">
    		</datalist>

                 
                

                <button name="add-widget-btn" ng-click="addWidget(SelectedCity)">Add weather widget</button>

               


        </div>


 


        <div ng-controller="WidgetsList">
            <div class="maincage commonwidth themecolor" ng-repeat="widget in widgets track by $index">
                <div class="bgimagecage commonwidth">
                    <div class="locationselect">
                        <div class="cityname">{{ widget.location.city + ', ' + widget.location.country }}    <i ng-click="deleteWidget($index)" class="icon-cancel"></i></div>
                    </div>

                    <span class="tempvalue"><i class="icon-rain centericon k-widget"></i></span>
                    <span class="date">{{widget.lastBuildDate}}</span>

                    <div class="todayweather">
                        <div class="todayweatherinner">
                    		<span class="todayweathertxtfirst">{{widget.item.condition.text}}<b> | </b>{{widget.item.condition.temp + 'º C'}}<b> | 
                               </b>     <span class="smallFont">Wind direction: {{widget.wind.direction}}</span>


                           

                            </span>

                    		<span class="todayweathertxtsecond">Humidity : {{widget.atmosphere.humidity}}%<br>Wind speed :  {{widget.wind.speed + " " + widget.units.speed}} <br> Pressure: {{widget.atmosphere.pressure + ' ' + widget.units.pressure}}</span>

                        </div>
                	</div>
                    
                    <div class="dayscell themecolor">
                        <div class="dayscellinner">
                            <div class="daycol">
                                {{ widget.item.forecast[0].day }}<br />
                                <span class="smalldate">{{ widget.item.forecast[0].date }}</span><br />
                                <i class="icon-cloud-sun-1 weekdayweathericon"></i><br />
                                <i class="icon-up-open"></i>{{widget.item.forecast[0].high}}º<br />
                                <i class="icon-down-open"></i>{{widget.item.forecast[0].low}}º<br />
                                {{widget.item.forecast[0].text}}
                            </div>
                            <div class="daycol">
                                {{ widget.item.forecast[1].day }}<br />
                                <span class="smalldate">{{ widget.item.forecast[1].date }}</span><br />
                                <i class="icon-cloud-sun-inv weekdayweathericon"></i><br />
                                <i class="icon-up-open"></i>{{widget.item.forecast[1].high}}º<br />
                                <i class="icon-down-open"></i>{{widget.item.forecast[1].low}}º<br />
                                {{widget.item.forecast[1].text}}
                            </div>
                            <div class="daycol">
                                {{ widget.item.forecast[2].day }}<br />
                                <span class="smalldate">{{ widget.item.forecast[2].date }}</span><br />
                                <i class="icon-windy weekdayweathericon"></i><br />
                                <i class="icon-up-open"></i>{{widget.item.forecast[2].high}}º<br />
                                <i class="icon-down-open"></i>{{widget.item.forecast[2].low}}º<br />
                                {{widget.item.forecast[2].text}}
                            </div>
                            <div class="daycol">
                                {{ widget.item.forecast[3].day }}<br />
                                <span class="smalldate">{{ widget.item.forecast[3].date }}</span><br />
                                <i class="icon-hail weekdayweatheh.query.results.placeericon"></i><br />
                                <i class="icon-up-open"></i>{{widget.item.forecast[3].high}}º<br />
                                <i class="icon-down-open"></i>{{widget.item.forecast[3].low}}º<br />
                                {{widget.item.forecast[3].text}}
                            </div>
                            <div class="daycol">
                                {{ widget.item.forecast[4].day }}<br />
                                <span class="smalldate">{{ widget.item.forecast[4].date }}</span><br />
                                <i class="icon-rain-1 weekdayweathericon"></i><br />
                                <i class="icon-up-open"></i>{{widget.item.forecast[4].high}}º<br />
                                <i class="icon-down-open"></i>{{widget.item.forecast[4].low}}º<br />
                                {{widget.item.forecast[4].text}}
                            </div>
         
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>

        
        <!--<script type="text/javascript" src="js/jquery-2.1.4.js"></script>-->
        <script type="text/javascript" src="js/angular.js"></script>
        <script type="text/javascript" src="js/custom.js"></script>









</body>
</html>
